p{
    font-style: normal;
}
h1, h2, h3, h4, h5, h6{
    color: rgb(230, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-style: italic;
}

#title{
    text-decoration: underline;
    background-color: aqua;
}

.subTitle{
    text-decoration: dotted;
    background-color: black;
    color: yellowgreen;
}

.information{
    color: purple;
    font-style: italic;
}

.dp{
    width : 300px;
    height : 200px;
}

#staffTable{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#staffTable th{
    background-color: rgb(214, 230, 43);
    color: rgb(72, 15, 228);
}

#staffTable th, #staffTable td{
    border: 1px solid #ddd;
    padding: 8px;
}